
<div class="row">
	<div class="col-md-3">
		<p class="lead">Guitar Store</p>
		<div class="list-group">
			<%= link_to "Guitars", guitars_path, class: "list-group-item" %>
			<a href="#" class="list-group-item">Accesseries</a>
		</div>
	</div>
	<div class="col-md-9">
		<% if params["search"].nil? %>
			<div class="row carousel-holder">
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active"><%= image_tag("g1.jpg", class: "slide-image", alt: "") %>
							</div>
							<div class="item"><%= image_tag("g2.jpg", class: "slide-image", alt: "") %>
							</div>
							<div class="item"><%= image_tag("g3.jpg", class: "slide-image", alt: "") %>
							</div>
							<div class="item"><%= image_tag("g4.jpg", class: "slide-image", alt: "") %>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
			</div>
		<% else %>
			<% unless params["search"]["term"] == "" %>
				<h3>showing all results for <span class="text_blue"><%= params["search"]["term"]%></span></h3>
			<% end %>
			<br>
		<% end %>
    <% unless  @guitars.blank? %>
      <% @guitars.each_slice(3) do |guitars| %>
    		<%= render 'guitars_data', guitars: guitars  %>
      <% end %>
    <% else %>
        <h2 align="center"> Gitars not available right now </h2>
    <% end %>
	</div>
</div>
