<%= image_tag(@guitar.image_url.to_s, width: "300px") %>
<p>
  <strong>Name:</strong>
  <%= @guitar.name %>
</p>
<p>
  <strong>Model:</strong>
  <%= @guitar.model %>
</p>
<p>
  <strong>series:</strong>
  <%= @guitar.preferences['series'] %>
</p>
<p>
  <strong>shape:</strong>
  <%= @guitar.preferences['shape'] %>
</p>
<p>
  <strong>tuner:</strong>
  <%= @guitar.preferences['tuner'] %>
</p>
<p>
  <strong>binding:</strong>
  <%= @guitar.preferences['binding'] %>
</p>
<p>
  <strong>neck:</strong>
  <%= @guitar.preferences['neck'] %>
</p>
<p>
  <strong>Type:</strong>
  <%= @guitar.guitar_type %>
</p>
<p>
  <strong>Strings:</strong>
  <%= @guitar.strings %>
</p>
<p>
  <strong>Brand:</strong>
  <%= @guitar.brand %>
</p>
<p>
  <strong>Description:</strong>
  <%= @guitar.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @guitar.price_money %>
</p>
