<% if !@cart_item.nil? && @cart_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @cart_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @cart_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <h1>shopping cart</h1>
  <% @cart_items.each do |cart_item| %>
    <%= render 'carts/cart_row', guitar: cart_item.guitar, cart_item: cart_item, show_total: true %>
  <% end %>
  <br>
  <div class="">
    <h3> <%= link_to "click to continue", checkout_page_path, class: "btn btn-success pull-right"%></h3>
    <h3>Grand total: <span class=""><%= number_to_currency @cart.total_price%></span><h3>
  </div>
<% end %>
